.drivercard {
  width: 50%;
  margin: 20px auto;
  background-color: rgb(48, 63, 158);
  border-radius: 20px;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;
}

.drivercard img {
  width: auto;
  height: 130px;
  border-radius: 50%;
  margin: 30px;
}

.drivercard infos {
}

.drivercard h4 {
  display: inline;
}
