.drivercard {
  width: clamp(400px, 40vw, 45vw);
  margin: 20px auto;
  background-color: rgb(48, 63, 158);
  border-radius: 20px;
  color: white;

  padding: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.drivercard img {
  width: auto;
  height: 130px;
  border-radius: 50%;
  margin: 0 20px;
}

.drivercard infos {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.drivercard h4 {
  margin: 10px 0;
}

.drivercard p {
  text-align: center;
}
