.app {
  width: 100%;
}

.app h1 {
  text-align: center;
  margin: 50px auto 30px;
}

.creditcards-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.likebutton-container {
  width: 50%;
  margin: 30px auto;
  text-align: center;
}

.clickablepicture {
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
